final_project.rnc

start = final_project 
final_project = element final_project {excerpt+}
excerpt = element excerpt {mixed{(verb | prep | adj | gender)+}}
verb = element verb {prefix?, text} 
prep = element prep {connect?, text}
adj = element adj {type, text}
gender = element gender {agree, text} 
prefix = attribute prefix {("y" | "n" | "3m" | "aux" | "part")?} 
connect = attribute connect {"y" | "n"}
type = attribute type {"alif" | "split" | "none"}
agree = attribute agree {"y" | "n"} 



